{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fountain Pen Tracker</title>
    <meta name = "description" , content =" Tracker of fountain pens and inks">
    <meta name = "viewport" , content ="width=device-width , initial-scale =1">
    <!-- CSS Here -->
    <link rel = "stylesheet"  href= "{% static 'css/normalize.css' %}">
    <link rel = "stylesheet"  href= "{% static 'css/skeleton.css' %}">
  </head>
  <body>
    <div class = "container">
      <h2>{{page_title}}</h2>
        
        <p>Number of pens: {{pen_list|length }}</p>
        <table class="u-full-width">
          <thread>
            <tr>
              <th>Color</th>
              <th>Model</th>
              <th>Brand</th>
              <th>Nib Size</th>
              <th></th>
              <th></th>
            </tr>
          </thread>
          <tbody>
        {% for pen in pen_list%}
          <tr>
            <td style="background-color:{{pen.color}};"></td>
            <td>{{pen.brandName}}</td>
            <td>{{pen.modelName}}</td>
            <td>{{pen.nibsSizes}}</td>
            <td><a href = "{% url 'edit pen' pen.id %}"> Edit</a></td>
            <td><a href = "{% url 'delete pen' pen.id %}"> Delete</a></td>
          </tr>
        {% endfor %}
        
          </tbody>
        </table>
        <div class = "center">
          <a href="{% url 'add pen' %}">Add a Pen </a>
        </div>  
        
    </div>



  </body>
</html>

